{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "soc/css/index.css" %}">
{% endblock style %}
{% block title %}Témy{% endblock title %}
{% block content %}
<div class="filters">
  <div class="input-group">
    <label for="topic-input" class="label">Názov témy</label>
    <input type="text" id="topic-input" name="topic" class="input" />
  </div>
  <div class="input-group">
    <label for="teacher-select" class="label">Konzultujúci učiteľ</label>
    <select name="teacher" id="teacher-select" class="input">
      <option selected value="all">Všetko</option>
      {% for ucitel in ucitelia %}
      <option value="{{ucitel.id}}">{{ucitel}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group">
    <label for="department-select" class="label">Odbor</label>
    <select name="department" id="department-select" class="input">
      <option selected value="all">Všetko</option>
      {% for odbor in odbory %}
      <option value="{{odbor.id}}">{{odbor}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group">
    <label for="availability-select" class="label">Dostupnosť</label>
    <select name="availability" id="availability-select" class="input">
      <option selected value="all">Všetko</option>
      {% for dostupnost in dostupnosti %}
      <option value="{{dostupnost.id}}">{{dostupnost}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="btn reset-btn filters-reset-btn">Reset</div>
</div>
<div class="content">
  <div class="overview">
    {% for tema in temy %}
    <div class="overview-item">
      <h2 class="heading-secondary"><a href="#" class="link topic">{{tema.nazov}}</a></h2>
      <div class="description-container info-container">
        <h3 class="heading-tertiary">Popis:</h3>
        <div class="description-text info-text">{{tema.popis}}</div>
      </div>
      <div class="consultant-container info-container inline-container">
        <h3 class="heading-tertiary">Konzultant:</h3>
        <div class="info-text teacher" data-id="{{ tema.konzultant.id }}">{{tema.konzultant}}</div>
      </div>
      <div class="student-container info-container inline-container">
        <h3 class="heading-tertiary">Študent:</h3>
        <div class="info-text student" data-id="{{ tema.student.id }}">
          {% if tema.student == None %}
          ---
          {% else %}
          {{tema.student}}
          {% endif %}
        </div>
      </div>
      <div class="department-container info-container inline-container">
        <h3 class="heading-tertiary">Odbor:</h3>
        <div class="info-text department" data-id="{{ tema.odbor.id }}">{{tema.odbor}}</div>
      </div>
      <div class="info-container availability-container">
        <div class="availability 
              {% if tema.dostupnost.nazov == 'Obsadené' %}occupied{% endif %} 
              {% if tema.dostupnost.nazov == 'Voľné' %}free{% endif %} 
              {% if tema.dostupnost.nazov == 'Čaká na schválenie' %}pending{% endif %} "
          data-id="{{ tema.dostupnost.id }}">{{ tema.dostupnost }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static "soc/js/filters.js" %}"></script>
{% endblock content %}