{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "soc/css/index.css" %}">
{% endblock style %}
{% block title %}Témy{% endblock title %}
{% block content %}
<div class="filters">
  <div class="input-group">
    <label for="topic-input" class="label">Názov témy</label>
    <input type="text" id="topic-input" name="topic" class="input" />
  </div>
  <div class="input-group">
    <label for="teacher-select" class="label">Konzultujúci učiteľ</label>
    <select name="teacher" id="teacher-select" class="input">
      <option selected value="all">Všetko</option>
      {% for ucitel in ucitelia %}
      <option value="{{ucitel.id}}">{{ucitel}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group">
    <label for="department-select" class="label">Odbor</label>
    <select name="department" id="department-select" class="input">
      <option selected value="all">Všetko</option>
      {% for odbor in odbory %}
      <option value="{{odbor.id}}">{{odbor}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group">
    <label for="availability-select" class="label">Dostupnosť</label>
    <select name="availability" id="availability-select" class="input">
      <option selected value="all">Všetko</option>
      {% for dostupnost in dostupnosti %}
      <option value="{{dostupnost.id}}">{{dostupnost}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="btn filters-reset-btn"><svg class="icon icon-blue" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M447.1,86.2C400.3,33.4,332.2,0,256,0C114.6,0,0,114.6,0,256h64c0-106.1,85.9-192,192-192c58.5,0,110.4,26.5,145.5,67.8 L341.3,192H512V21.3L447.1,86.2z M256,448c-58.5,0-110.4-26.5-145.5-67.8l60.2-60.2H0v170.7l64.9-64.9 c46.8,52.8,115,86.2,191.1,86.2c141.4,0,256-114.6,256-256h-64C448,362.1,362.1,448,256,448z"></path> </g></svg></div>
</div>
<div class="content">
  <div class="overview">
    {% for tema in temy %}
    <div class="overview-item">
      <h2 class="heading-secondary"><a href="#" class="link topic">{{tema.nazov}}</a></h2>
      <div class="description-container info-container">
        <h3 class="heading-tertiary">Popis:</h3>
        <div class="description-text info-text">{{tema.popis}}</div>
      </div>
      <div class="consultant-container info-container inline-container">
        <h3 class="heading-tertiary">Konzultant:</h3>
        <div class="info-text teacher" data-id="{{ tema.konzultant.id }}"><a href="{% url "ucitel" tema.konzultant.id %}" class="link">{{tema.konzultant}}</a></div>
      </div>
      <div class="student-container info-container inline-container">
        <h3 class="heading-tertiary">Študent:</h3>
        <div class="info-text student" data-id="{{ tema.student.id }}">
          {% if tema.student == None %}
          ---
          {% else %}
          <a href="{% url "student" tema.student.id %}" class="link">{{tema.student}}</a>
          {% endif %}
        </div>
      </div>
      <div class="department-container info-container inline-container">
        <h3 class="heading-tertiary">Odbor:</h3>
        <div class="info-text department" data-id="{{ tema.odbor.id }}">{{tema.odbor}}</div>
      </div>
      <div class="info-container availability-container">
        <div class="availability 
              {% if tema.dostupnost.nazov == 'Obsadené' %}occupied{% endif %} 
              {% if tema.dostupnost.nazov == 'Voľné' %}free{% endif %} 
              {% if tema.dostupnost.nazov == 'Čaká na schválenie' %}pending{% endif %} "
          data-id="{{ tema.dostupnost.id }}">
          {{ tema.dostupnost }}
        </div>
        {% if tema.dostupnost.nazov == 'Voľné' %}
          <div class="btn sign-up-btn">Prihlásiť sa</div>
        {% endif %}
      </div>
      {% if tema.dostupnost.nazov == "Obsadené" %}
        <div class="info-container consultations-container">
          <h3 class="heading-tertiary">Konzultácie: </h3>
          <div class="consultations">
            {% for number in range_filter %}
              {% if forloop.counter <= tema.pocet_konzultacii %}
                <svg class="icon icon-green" viewBox="0 0 36 36" version="1.1" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>dot-circle-line</title> <path d="M18,11a7,7,0,1,1-7,7,7,7,0,0,1,7-7" class="clr-i-outline clr-i-outline-path-1"></path><path d="M18,34A16,16,0,1,1,34,18,16,16,0,0,1,18,34ZM18,4A14,14,0,1,0,32,18,14,14,0,0,0,18,4Z" class="clr-i-outline clr-i-outline-path-2"></path> <rect x="0" y="0" width="36" height="36" fill-opacity="0"></rect> </g></svg>
              {% else %}
                <svg class="icon icon-gray" viewBox="0 0 36 36" version="1.1" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>dot-circle-line</title> <path d="M18,11a7,7,0,1,1-7,7,7,7,0,0,1,7-7" class="clr-i-outline clr-i-outline-path-1"></path><path d="M18,34A16,16,0,1,1,34,18,16,16,0,0,1,18,34ZM18,4A14,14,0,1,0,32,18,14,14,0,0,0,18,4Z" class="clr-i-outline clr-i-outline-path-2"></path> <rect x="0" y="0" width="36" height="36" fill-opacity="0"></rect> </g></svg>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static "soc/js/filters_index.js" %}"></script>
{% endblock content %}