{% extends "base.html" %}
{% load static %}
{% block title %}{{ucitel}}{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static "soc/css/teacher.css" %}">
{% endblock style %}
{% block content %}
    <h1 class="heading-primary teacher-heading">{{ucitel}} - témy</h1>
    <div class="overview">
        {% if temy %}
            {% for tema in temy %}
                <div class="overview-item">
                    <h2 class="heading-secondary"><a href="#" class="link topic">{{tema.nazov}}</a></h2>
                    <div class="description-container info-container">
                        <h3 class="heading-tertiary">Popis:</h3>
                        <div class="description-text info-text">{{tema.popis}}</div>
                    </div>
                    <div class="consultant-container info-container inline-container">
                        <h3 class="heading-tertiary">Konzultant:</h3>
                        <div class="info-text teacher" data-id="{{ tema.konzultant.id }}">{{tema.konzultant}}</div>
                    </div>
                    <div class="student-container info-container inline-container">
                        <h3 class="heading-tertiary">Študent:</h3>
                        <div class="info-text student" data-id="{{ tema.student.id }}">
                            {% if tema.student == None %}
                            ---
                            {% else %}
                            {{tema.student}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="department-container info-container inline-container">
                        <h3 class="heading-tertiary">Odbor:</h3>
                        <div class="info-text department" data-id="{{ tema.odbor.id }}">{{tema.odbor}}</div>
                    </div>
                    <div class="info-container availability-container">
                        <div class="availability 
                                {% if tema.dostupnost.nazov == 'Obsadené' %}occupied{% endif %} 
                                {% if tema.dostupnost.nazov == 'Voľné' %}free{% endif %} 
                                {% if tema.dostupnost.nazov == 'Čaká na schválenie' %}pending{% endif %} "
                            data-id="{{ tema.dostupnost.id }}">
                            {{ tema.dostupnost }}
                        </div>
                    </div>
                    {% if tema.dostupnost.nazov == "Obsadené" %}
                        <div class="info-container consultations-container">
                            <h3 class="heading-tertiary">Konzultácie: </h3>
                            <div class="consultations">
                            {% for number in range_filter %}
                                {% if forloop.counter <= tema.pocet_konzultacii %}
                                <svg class="icon-green" viewBox="0 0 36 36" version="1.1" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>dot-circle-line</title> <path d="M18,11a7,7,0,1,1-7,7,7,7,0,0,1,7-7" class="clr-i-outline clr-i-outline-path-1"></path><path d="M18,34A16,16,0,1,1,34,18,16,16,0,0,1,18,34ZM18,4A14,14,0,1,0,32,18,14,14,0,0,0,18,4Z" class="clr-i-outline clr-i-outline-path-2"></path> <rect x="0" y="0" width="36" height="36" fill-opacity="0"></rect> </g></svg>
                                {% else %}
                                <svg class="icon-gray" viewBox="0 0 36 36" version="1.1" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>dot-circle-line</title> <path d="M18,11a7,7,0,1,1-7,7,7,7,0,0,1,7-7" class="clr-i-outline clr-i-outline-path-1"></path><path d="M18,34A16,16,0,1,1,34,18,16,16,0,0,1,18,34ZM18,4A14,14,0,1,0,32,18,14,14,0,0,0,18,4Z" class="clr-i-outline clr-i-outline-path-2"></path> <rect x="0" y="0" width="36" height="36" fill-opacity="0"></rect> </g></svg>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}