{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %} | SOČ</title>
    <link rel="stylesheet" href="{% static "soc/css/base.css" %}"> 
    <link rel="stylesheet" href="{% static "soc/css/components.css" %}">
    <link rel="stylesheet" href="{% static "soc/css/nav.css" %}">
    {% block style %}{% endblock style %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="nav-item"><a href="{% url "index" %}" class="link">Stredoškolská odborná činnosť</a></div>
        <div class="nav-item">
          <a href="{% url "statistiky" %}" class="link">Štatistiky</a>
          <a href="{% url "nova_tema" %}" class="link new-topic"><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="icon icon-black icon-small"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#000000" fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm14 .069a1 1 0 01-1 1h-2.931V14a1 1 0 11-2 0v-2.931H6a1 1 0 110-2h3.069V6a1 1 0 112 0v3.069H14a1 1 0 011 1z"></path> </g></svg>  Nová téma</a>
        </div>
      </nav>
    </header>
    <main class="main">
        {% block content %}{% endblock content %}
    </main>
</body> 
</html>