.filters {
  display: flex;
  padding: 3.5rem 0;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 3rem;
}

#department-select {
  width: 25rem;
}

#teacher-select {
  width: 30rem;
}

#topic-input {
  width: 28rem;
}

.filters-reset-btn {
  align-self: flex-end;
}