.filters {
  display: flex;
  padding: 3.5rem 0;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 3rem;
}

#department-select {
  width: 25rem;
}

#teacher-select {
  width: 30rem;
}

#topic-input {
  width: 28rem;
}

.filters-reset-btn {
  align-self: flex-end;
}

.overview-item {
  background-color: var(--quinary-color);
  padding: 3rem;
  border-radius: 3px;
  box-shadow: var(--shadow);
  margin-bottom: 3rem;
  transition: all .3s;

  &>*:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &:hover {
    transform: translateY(-3%);
  }
}

.info-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.availability-container {
  display: flex;
}

.availability {
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 0.8rem;
}

.occupied {
  background-color: var(--red-color);
  color: var(--white-color);
}

.free {
  background-color: var(--green-color);
  color: var(--white-color);
}

.pending {
  background-color: var(--yellow-color);
}